---
---

@import "{{ site.theme }}";

img[alt="Logo"] {
  max-width: 300px !important;
  height: auto !important;
}

@media (max-width: 600px) {
  img[alt="Logo"] {
    max-width: 240px !important;
  }
}

@media (max-width: 600px) {
  header {
    text-align: center;
  }

  header img[alt="Logo"] {
    display: block;
    margin: 0 auto;
  }

  header h1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
  padding: 20px 0 10px;
  margin: 0;
}

  body {
    padding-top: 70px;
  }
}
