---
---

@import "{{ site.theme }}";

img[alt="Logo"] {
  max-width: 360px !important;
  height: auto !important;
}

@media (max-width: 600px) {
  img[alt="Logo"] {
    max-width: 240px !important;
  }
}
